name: ci

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: mozilla-actions/sccache-action@v0.0.9
      - uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      # tools install
      - uses: taiki-e/install-action@v2.62.64
        with:
          tool: dprint,typos-cli
      - run: |
          sudo apt -y install shfmt
          npm -g install prettier
      # Checkout for caches
      - uses: actions/checkout@v6
      # d-print cache
      - uses: actions/cache@v4
        with:
          path: ~/.cache/dprint
          key: dprint-${{ hashFiles('.dprint.json') }}
      # pre-commit install
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: 3
      - name: install pre-commit
        run: python -m pip install pre-commit
      - uses: actions/cache@v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      # run
      - name: pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
